---
import InstallHint from "./InstallHint.astro";
---
<header>
  <div>
    <h1>AppWow</h1>
    <p>The home of Instant Apps</p>
    <InstallHint />
  </div>

  <nav aria-label="Primary">
    <a href="/developers">Developers</a>
    <a href="/submit?key=ALPHA">Submit</a>
    <a href="/account">Account</a>
  </nav>
</header>
