<form method="post" action="/submit/action">
  <label>
    App Name
    <input type="text" name="name" required />
  </label>

  <label>
    Description
    <textarea name="description" required></textarea>
  </label>

  <label>
    App URL
    <input type="url" name="url" required />
  </label>

  <button type="submit">Submit</button>
</form>
