---
const { title = "AppWow", description = "Home of Instant Apps" } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content={description} />
  <title>{title}</title>

  <link rel="manifest" href="/manifest.webmanifest" />
  <meta name="theme-color" content="#002B36" />
</head>
<body>
  <slot />
</body>
</html>
